mysql-server-5.5			mysql-server/root_password				password	YOUR_PASSWORD
mysql-server-5.5			mysql-server/root_password_again		password	YOUR_PASSWORD
oracle-java8-installer		shared/present-oracle-license-v1-1		note
oracle-java8-installer		shared/accepted-oracle-license-v1-1		boolean		true
ttf-mscorefonts-installer	msttcorefonts/accepted-mscorefonts-eula	boolean		true
